.mylogo {
    font-size: 40px;
    background-color: #4aaaa5;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    padding: 0px;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 20px;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-bottom-width: 1px;
    margin-left: 0x;
    margin-right: 0px;
}

.big-container  {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(https://img00.deviantart.net/6ee0/i/2008/131/7/8/crumpled_white_paper_texture_by_melemel.jpg);
}

.container{
    margin-left: 0px;
    margin-right: 0px;
}

.box-style {
    margin: 50px 0px 70px;
    background-color:;
}

.contact-style {
    margin: 50px 200px;
    background-color: #ffffff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
}
